**/.DS_Store
results/*
data/cois/*
data/disagg/*
data/geography/*
data/raw/*
data/geography_processed/*
data/UT_blocks.geojson
data/UT_precincts.geojson
output/
todos.md
*.png

# Python venv and cache
.venv/
__pycache__/
*.pyc
.vscode/
